<div>
<h1>{{title}}  </h1>
</div>

    
<form #myForm="ngForm" (ngSubmit)="onSubmit()">    

        <div>
        <input type="text" 
        id="fullName" 
        name="fullName"
        placeholder="Full Name"         
        required
        ngControl="fullName"
       [(ngModel)]="contact.fullName"
         />
    </div>
    <div>
        <input type="text" 
        id="email" 
        name="email"
        placeholder="Email" 
        ngControl="email"
          [(ngModel)]="contact.email"
     required
        />
    </div>
    <div>
        <button type="submit" >Submit</button>
    </div>

   </form>    
   
    